@using Microsoft.AspNetCore.Identity
@inject SignInManager<MVCProject.Models.ApplicationUser> SignInManager
@inject UserManager<MVCProject.Models.ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="MyAccount" asp-action="Index">Moje Konto</a>
    </li>
    @if (user is not null)
    {
        <li class="nav-item">
            <span class="nav-link text-muted">@(!string.IsNullOrWhiteSpace(user.DisplayName) ? user.DisplayName : user.Email)</span>
        </li>
    }
    <li class="nav-item">
        <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-link nav-link text-dark border-0">Wyloguj</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Rejestracja</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Logowanie</a>
    </li>
}
</ul>
