<h1>Wynik</h1>

<p>Kurs: @ViewBag.CourseName</p>

<h3>
    Twój wynik: @ViewBag.Score / @ViewBag.Total
</h3>

<a asp-controller="Quiz" asp-action="Index" class="btn btn-primary">
    Wróć do kursów
</a>